<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}multi_shop{% endblock %}</title>
    
    {% include 'includes/header_references.html' %}
</head>
<body>
    {% include 'includes/header.html' %}

    <main class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'includes/footer.html' %}
    {% include 'includes/footer_references.html' %}
    {% block extra_js %}
    {% endblock %}
</body>
</html>